body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  height: 70px;
  padding: 20px 80px;
}

.bar {
  margin-left: 50px;
}

.bar a {
  font-size: 20px;
  text-decoration: none;
  color: #000;
  margin: 10px;
}

.bar a:hover {
  font-size: 20px;
  text-decoration: underline;
  color: #000;
  margin: 10px;
}

.item {
  margin-left: 510px;
  display: flex;
  font-size: 20px;
}

.item p {
  cursor: pointer;
}

.store {
  margin-left: 25px;
}

.store i {
  cursor: pointer;
}

.store a {
  color: #000;
  cursor: pointer;
}

.store a:hover {
  color: #454F5B;
  cursor: pointer;
}

.navbar {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.navbar .logo {
  font-size: 20px;
}

.cart-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cart-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.cart-item-image {
  width: 150px;
  height: auto;
  border-radius: 8px;
  margin-right: 20px;
}

.cart-item-info {
  flex: 1;
}

.price {
  font-size: 18px;
  margin: 10px 0;
}

.new-price {
  color: #28a745;
  font-weight: bold;
}

.old-price {
  text-decoration: line-through;
  color: #dc3545;
}

.category {
  font-size: 16px;
  margin-bottom: 10px;
}

.rating {
  display: flex;
  align-items: center;
}

.stars {
  margin-left: 10px;
  color: gold;
  font-size: 18px;
}

.quantity-container {
  margin-top: 10px;
}

.quantity-container label {
  margin-right: 10px;
}

.quantity-container input {
  width: 50px;
  padding: 5px;
  font-size: 16px;
}

.remove-button {
  background-color: transparent;
  color: #dc3545;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
  transition: color 0.3s ease;
  font-size: 20px;
}

.remove-button:hover {
  color: #c82333;
}

.total {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.total span {
  color: #28a745;
}
